/* Specific styling for the Add Vehicle page */

/* Center the form */
#main-content {
    margin-left: 100px; /* Leave space for sidebar */
    margin-top: 50px;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}

/* Form container styling */
#form-container {
    background-color: #294963e5;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border: 3px solid #4895d4;
}

/* Form heading */
#form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Form and fields */
#add-vehicle-form {
    display: flex;
    flex-direction: column;
}


label {
    margin-top: 10px;
    font-size: 16px;
}

#add-vehicle-form input,
#add-vehicle-form select {
    margin-top: 5px;
    padding: 10px;
    background-color: #162735da;
    border: 1px solid #666;
    border-radius: 5px;
    color: #f1f1f1;
    font-size: 16px;
}

#add-vehicle-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4895d4;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #1e1e1e;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-vehicle-form button:hover {
    background-color: #ffcc00;
}

.errorMsg {
    color: red;
    margin-top: 2px;
    font-size: 12px;
}