#main-content {
    margin-left: 100px;
    margin-top: 200px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#card-container {
    display: flex;
    justify-content: center;
}

.car-card {
    background-color: #294963e5;
    border-radius: 10px;
    padding: 20px;
    width: 700px;
    height: 450px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border: 3px solid #4895d4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.car-card-content p {
    font-size: 22px;
    padding: 10px;
}
