/* Main content area */
#main-content {
    margin-left: 270px; /* Adjusted to make space for the sidebar */
    padding: 20px;
}

/* Taxis container */
#results {
    display: flex;
    flex-direction: column; /* Stacks the cards vertically */
    gap: 20px;
    width: 70%; /* Cards now take 70% of the container width */
    margin-top: 40px;
}

/* Individual taxi card */
.taxi-card {
    background-color: #162735da;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    height: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    text-align: left;
    position: relative;
    overflow: hidden;
    border: 3px solid #4895d4;
}

.taxi-card:hover {
    transform: translateY(-6px);
}

/* Taxi card content */
.taxi-card-content p {
    font-size: 16px;
    margin-bottom: 5px; /* Reduced margin to fit text properly */
}

/* Buttons container */
.taxi-card-buttons {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px; /* Move buttons to the right side */
    transform: translateY(-50%); /* Vertically center the buttons */
    flex-direction: column;
    gap: 10px;
}

.taxi-card:hover .taxi-card-buttons {
    display: flex; /* Show buttons on hover */
}

/* Button styling */
button {
    background-color: #4895d4; /* Taxi yellow */
    color: #1e1e1e;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e5a500;
}

.delete-btn:hover {
    background-color: red;
    color: white;
}
